[user]
  # you probably want to change this bit.
  name = isaacs
  email = i@izs.me
  signingkey = 0xD67873B9DBD447B2
	fullname = Isaac Z. Schlueter
	website = https://blog.izs.me
[github]
  user = isaacs
[alias]
  cl = log --graph --pretty=format:'%h%d %s (%an)'
  ci = commit
  st = status
  br = branch
  co = checkout
  cp = cherry-pick
  df = diff
  ln = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %b %Cgreen(%cr)%Creset' --date=relative
  lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cs)%Creset' --date=relative
  ll = log --first-parent --pretty=format:'%h %s'
  lc = log --first-parent --pretty=format:'%s'
  lo = log --oneline
  authors = log --pretty=format:'%an <%ae>'
  dif = diff
  di = diff
  dff = diff
[branch.master]
  mergeoptions = log
[color]
  grep = auto
  branch = auto
  diff = auto
  status = auto
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow
  whitespace = red reverse
  #old = 52 218
  #new = 22 193
  old = 255 52
  new = 255 22
[color "diff-highlight"]
  oldHighlight = 52 218
  oldNormal = 255 52
  newNormal = 255 22
  newHighlight = 22 194
[color "status"]
  added = yellow
  changed = green
[diff-so-fancy]
  markEmptyLines = false
  stripLeadingSymbols = true
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
  conflictstyle = diff3
[push]
  default = current
[core]
	excludesfile = /Users/isaacs/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFX
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[tag]
	forceSignAnnotated = true
  gpgSign = true
;[merge "npm-merge-driver"]
;	name = automatically merge npm lockfiles
;	driver = npx npm-merge-driver merge %A %O %B %P
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[commit]
	gpgsign = true



[core]
  pager = delta --dark
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  features = decorations
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = red black
  file-style = omit
  minus-style = syntax "#330611"
  plus-style = syntax "#112a18"
  minus-emph-style = "#440000" "#ff99cc" # 52 218 
  minus-empty-line-marker-style = normal "#660000"
  plus-empty-line-marker-style = normal "#004400"
  plus-emph-style = "#004300" "#d7ffd7" # 22 194 # 
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#06a000"
  hunk-header-style = file line-number syntax "#111111"
  grep-file-style = "#cccccc" "#333333"
  hyperlinks = true
  max-line-length = 512
  line-numbers = false
  dark = true

[url "ssh://git@github.com:"]
	insteadOf = https://github.com/
