[alias]
	ci = commit
	st = status
	br = branch
	co = checkout
	df = diff
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
	lo = log --oneline
[branch.master]
	mergeoptions = log
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
[user]
	name = isaacs
	email = i@izs.me
	signingkey = 0x6C481CF6
[diff]
[difftool]
	prompt = false
